<h1><%= @beer.name %></h1>
<h4>Brewed by <%= link_to "#{@beer.brewery.name}", brewery_url(@beer.brewery) %></h4>

<%= link_to 'All Beer', beers_url %>


<!-- List beer attributes -->
<ul>
    <% @beer.attributes.keys.each do |key| %>
      <% next if ["id", "created_at", "brewery_id"].include?(key) %>
      <li>
        <strong><%= key.humanize %>:</strong>
         <%= @beer.attributes[key] %>
      </li>
    <% end %>
</ul>
<!-- ====================================================================== -->



<%= link_to 'Edit Beer', edit_beer_url(@beer) %>
<%= link_to 'Delete Beer', beer_url(@beer), method: :delete %>



<!-- Iterate and display all comments for this beer -->
<h3>Comments</h3>
<% if @beer.comments %>
  <% @beer.comments.each do |comment| %>

    <div class="comment-div">
      <strong><%= comment.user.username %>:</strong>

      <p class="comment-body">
        <%= comment.body %>
        <%= link_to 'Delete Comment', comment_url(comment), method: :delete if comment.user == current_user %>
      </p>
    </div>

  <% end %>
<% end %>
<!-- ====================================================================== -->


<br>
<br>
<!-- Add comment form -->
<label for="">Add Comment
  <form action="<%=beer_comments_url(@beer)%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">


    <textarea name="comment[body]" rows="8" cols="40"></textarea>


    <input type="submit" name="submit" value="Add Comment">

  </form>
</label>
<!-- ====================================================================== -->
