<div class="content-padded">
  <br>
  <h1 class="beer-name"><%= @beer.name %></h1>
  <p>Brewed by <%= link_to "#{@beer.brewery.name}", brewery_url(@beer.brewery) %></p>

  <!-- <%= link_to 'All Beer', beers_url %> -->


  <!-- List beer attributes -->
  <ul>
    <% @beer.attributes.keys.each do |key| %>
    <% next if ["id", "created_at", "brewery_id"].include?(key) %>
    <li>
      <strong><%= key.humanize %>:</strong>
      <%= @beer.attributes[key] %>
    </li>
    <% end %>
  </ul>
  <!-- ====================================================================== -->

  <nav class="beer-nav-div">
    <a href="/beers"><i class="fas fa-arrow-left fa-lg"></i></a>
    <a href="<%= "/beers/#{@beer.id}/edit" %>"><i class="far fa-edit fa-lg"></i></a>
    <a href="<%= "/beers/#{@beer.id}" %>" data-confirm="Are you sure?" data-method="delete">
      <i class="far fa-trash-alt fa-lg"></i>
    </a>
  </nav>

</div>

<!-- Iterate and display all comments for this beer -->
<div class="comment-div">
  <div class="content-padded">
    <h1 class="beer-name">Comments <i class="far fa-comments"></i></h1>
    <% if @beer.comments %>
      <% @beer.comments.each do |comment| %>
      <br>
      <div class="comment-username"><%= comment.user.username %></div>

      <div class="comment-body">
        <i><%= comment.created_at.to_s[0..9] %></i>
        <br>
        <%= comment.body %>


        <!-- <%= link_to 'Delete Comment', comment_url(comment), method: :delete if comment.user == current_user %> -->
        <% if comment.user == current_user %>
        <!-- <a href="<%= "/comments/#{comment.id}/delete" %>"><i class="far fa-trash-alt fa-sm"></i></a> -->
        <a data-confirm="Are you sure?" data-method="delete" href="<%= "/comments/#{comment.id}" %>" rel="nofollow">
          <i class="fas fa-times"></i>
        </a>
        <% end %>
      </div>
      <% end %>
    <% end %>
    <br>
    <br>


  </div>
  <!-- Add comment form -->
  <div class="add-comment-div">
    <label for="">Join The Discussion <i class="far fa-comment"></i>
      <form action="<%=beer_comments_url(@beer)%>" method="post">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <textarea name="comment[body]" type='text'></textarea>
        <div class="button button-1">
          <input class="" type="submit" name="submit" value="comment"></input>
        </div>
      </form>
    </label>
  </div>
</div>
<br>

<!-- ====================================================================== -->
