<!DOCTYPE html>
<html>
  <head>
    <title>LiftopiaBrews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css" integrity="sha384-OHBBOqpYHNsIqQy8hL1U+8OXf9hH6QRxi0+EODezv82DfnZoV7qoHAZDwMwEJvSw" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  </head>

  <body>
    <header id='main-header'>
      <div id="title-logo-link">
        <a id="title-link" href="/beers">
          <h1><strong>Liftopia</strong> | Brews</h1>
        </a>
        <!-- ToastPic -->
        <div class="toast-pic-div">
          <img alt="toast" src="/assets/toast.png" height='60px'>
        </div>
      </div>

      <div class="header-user-div">

        <% if logged_in? %>
          <div class="header" id="myHeader">
            <p><%= current_user.username %></p>
            <a href="/session" data-method="delete" name='Sign Out' id="sign-out">
              <i class="fas fa-sign-out-alt"></i>
            </a>

            <div id="search-div">
              <form class="" action="/searches/index" method="get">
                <i class="fas fa-search"></i>
                <input type="search" name="query" placeholder="name, flavor, brewery..." value="">
                <input type="submit" name="submit" value="Search">
                <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
              </form>
            </div>
          </div>


        <% else %>
          <div class="button-div">
            <div class="button button-1">
              <%= link_to "Log In", new_session_url %>
            </div>

            <div class="button button-2">
              <%= link_to "Sign Up", new_user_url %>
            </div>
          </div>


        <% end %>

      </div>
    </header>

    <div id="main-content" class="content animated fadeIn">
      <% if flash[:errors] %>
        <div class="content-padded animated fadeInUp errors">
          <% flash[:errors].each do |error| %>
            <%= error %>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </div>

    <div class="footer">
      For Liftopia <i class="far fa-heart"></i> |
      <a href="https://www.linkedin.com/in/francesco-mbf/" target="_blank">FMBF</a>
    </div>

    <script type="text/javascript">
      window.onscroll = function() {addSticky()};
      let header = document.getElementById("myHeader");
      let sticky = header.offsetTop;

      function addSticky() {
        // if (window.pageYOffset >= sticky) {
        //   header.classList.add("sticky");
        // } else {
        //   header.classList.remove("sticky");
        // }
      }
    </script>
  </body>
</html>
