<!DOCTYPE html>
<html>
  <head>
    <title>LiftopiaBrews</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  </head>

  <body>
    <header id='main-header'>
      <div id="title-logo-link">
        <a id="title-link" href="/beers">
          <h1>Liftopia Brews</h1>
        </a>
        <!-- ToastPic -->
        <div class="toast-pic-div">
          <img alt="toast" src="/assets/toast.png" height='60px'>
        </div>
      </div>

      <div class="header-user-div">

        <% if current_user %>

          <p><%= current_user.username %></p>
          <a href="/session" data-method="delete">
            <i class="fas fa-sign-out-alt"></i>
          </a>

          <div id="search-div">
            <form class="" action="/searches/index" method="get">
              <input type="search" name="query" placeholder="search" value="">
              <input type="submit" name="submit" value="Search">
              <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
            </form>
          </div>

        <% else %>

          <div class="button button-1">
            <%= link_to "Log In", new_session_url %>
          </div>

          <div class="button button-2">
            <%= link_to "Sign Up", new_user_url %>
          </div>
        <% end %>

      </div>



    </header>

    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <%= error %>
      <% end %>
    <% end %>

    <div id="main-content">
      <%= yield %>
    </div>
  </body>
</html>
